{% extends 'base.twig' %}

{% block pagetitle %}Agenda for {{ namaMatkul }} {% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Agenda untuk {{ namaMatkul }}</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<form action="#" method="POST" data-toggle="validator">
				<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
				{% if idAgenda is defined %}
				<input type="hidden" name="idAgenda" value="{{ idAgenda }}">
				{% endif %}
				<input type="hidden" name="idSilabus" value="{{ idSilabus }}">
				<div class="row">
					<div class="col-xs-6 form-group">
						<label for="rangePertemuan">Range Pertemuan</label>
						<input class="form-control input-lg" type="text" name="rangePertemuan" id="rangePertemuan" value="{{ rangePertemuan }}" placeholder="Range Pertemuan" pattern="^([1-9]0|[1-9]{1,2})+(?:(,|-)+([1-9]0|[1-9]{1,2}))*$" data-error="Range pertemuan tidak boleh kosong" data-match-error="Format tidak dikenal" required>
						<div class="help-block with-errors"><small>Contoh Format: 3 atau 1,2 atau 1-4</small></div>
					</div>
					<div class="col-xs-6 form-group">
						<label for="bobot">Bobot Agenda</label>
						<div class="input-group input-group-lg">
							<input class="form-control" type="text" name="bobot" id="bobot" value="{{ bobot }}" placeholder="Bobot Agenda" pattern="^((100)|(\d{0,2}))$" data-remote="http://{{ baseUrl }}/api/v1/agenda/checkPercentage/{{ idMatkul }}" data-error="Persentase tidak boleh kosong" data-pattern-error="Format tidak dikenal" data-remote-error="Persentase total {{ namaMatkul }} melebihi 100%" required>
							<span class="input-group-addon">%</span>
						</div>
						<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="kompetensi"><h3>Referensi Kompetensi</h3></label>
					<div class="help-block with-errors">
						<select multiple name="kompetensi[]" class="form-control form-lg" data-form-multitag data-placeholder="Kategori" required>
						{% for item in kompetensi %}
							<option value="{{ item.ID_KOMPETENSI }}" data-tag-text="{{ item.NAMA_KOMPETENSI }}" {% if item.SELECTED %}selected{% endif %}>{{ item.ID_KOMPETENSI }}</option>
						{% endfor %}
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="textSubKompetensi"><h3>Penjelasan Agenda</h3></label>
					<div class="help-block with-errors"></div>
					<textarea name="textSubKompetensi" id="textSubKompetensi" cols="30" rows="10" class="form-control input-lg" data-render-editor data-multiline="disable" data-error="Penjelasan agenda tidak boleh kosong" required>{{ txtSubKompetensi }}</textarea>
				</div>
				<div class="form-group">
					<label for="textMateriBelajar"><h3>Penjelasan Materi yang Akan Diajarkan</h3></label>
					<div class="help-block with-errors"></div>
					<textarea name="textMateriBelajar" id="textMateriBelajar" cols="30" rows="10" class="form-control input-lg" data-render-editor data-multiline="disable" data-error="Penjelasan materi tidak boleh kosong" required>{{ txtMateriBelajar }}</textarea>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<input type="submit" class="btn btn-block btn-lg btn-success">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% include 'components/_right-bar.twig' with {'pageTitle': 'Agenda', 'explanation': 'Berisi tentang ... mata kuliah', 'buttonState': 'back'}  %}
{% endblock %}
{% block inlinejs %}
<script src="/js/static/jquery.min.js"></script>
<script src="/js/static/bootstrap.min.js"></script>
<script src="/js/static/bootstrap3-wysihtml5.min.js"></script>
<script>
	$('[data-render-editor]').wysihtml5({
		toolbar: {
			"font-styles": false,
			"emphasis": true,
			"lists": false,
			"html": false,
			"link": false,
			"image": false,
			"color": false,
			"blockquote": false,
			"size": 'sm'
		}
	});
</script>
{% endblock %}
