{% extends 'base.twig' %}

{% block pagetitle %}Agenda untuk {{ namaMatkul }}{% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Agenda</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="list-group" data-list-toggle>
				{% if not agendas %}
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Anda belum mempunyai agenda untuk mata kuliah {{ namaMatkul }}</h4>
					<p class="list-group-item-text">Untuk membuat agenda baru klik tombol dibawah, dan isi masukan yang akan diberikan pada halaman yang muncul.</p>
					<br>
					<a href="{{currPath}}/new" class="btn btn-large btn-success"><i class="fa fa-plus"> <strong>Tambahkan agenda baru</strong></i></a>
				</div>
				{% endif %}
				{% for agenda in agendas %}
				<div class="list-group-item clearfix collapsed list-group-big" data-list-toggle-target>
					<div class="list-group-item-content">
						<div class="list-group-toggle">
							<span class="label label-success">Pertemuan: {{ agenda.RANGE_PERTEMUAN }}</span>
							{% if agenda.ASESMEN.tes is not empty %}<span class="label label-info">Asesmen Tes</span>{% endif %}
							{% if agenda.ASESMEN.nontes is not empty %}<span class="label label-info">Asesmen Non Tes</span>{% endif %}
							<span class="label label-danger">Bobot: {{ agenda.BOBOT }}%</span>
							<section class="list-group-item-section">
								<strong class="text-info">Sub Kompetensi</strong><a data-toggle-hidden href="{{currPath}}/edit?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-xs btn-warning pull-right"><span class="text-allcaps">Edit</span></a>
								<p class="list-group-item-text">{{ agenda.TEXT_SUB_KOMPETENSI|raw }}</p>
								{% if agenda.ASSOC_KOMPETENSI %}
								<p class="small text-danger">
									<b>Referensi: </b>
									{% for kompetensi in agenda.ASSOC_KOMPETENSI %}
										{% if not loop.last %}
									<span>{{ kompetensi.NAMA_KOMPETENSI }}, </span>
										{% else %}
									<span>{{ kompetensi.NAMA_KOMPETENSI }}.</span>
										{% endif %}
									{% endfor %}
								</p>
								{% endif %}
							</section>
							{% if not agenda.INDIKATOR %}
							<section class="list-group-item-section well">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<a href="{{currPath}}/indikator?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Tambah Indikator</a>
									</div>
								</div>
							</section>
							{% else %}
							<section class="list-group-item-section">
								<strong class="text-info">Indikator Pencapaian</strong> {% for item in agenda.UNIQUE_INDIKATOR %}<span class="label label-primary label-xs">{{ item.ID_KETERANGAN }}: {{ item.NAMA }}</span> {% endfor %}<a data-toggle-hidden href="{{currPath}}/indikator?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-xs btn-warning pull-right"><span class="text-allcaps">Edit</span></a>
								<ul class="list-group-item-text">
								{% for item in agenda.INDIKATOR %}
									<li>{{ item.TEXT_INDIKATOR }} <span class="label label-primary">{{ item.INDIKATOR.0.ID_KETERANGAN }}</span></li>
								{% endfor %}
								</ul>
							</section>
							{% endif %}
							<section class="list-group-item-section">
								<strong class="text-info">Materi Pembelajaran</strong><a data-toggle-hidden href="{{currPath}}/edit?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-xs btn-warning pull-right"><span class="text-allcaps">Edit</span></a>
								<div class="list-group-item-text">{{ agenda.TEXT_MATERI_BELAJAR|raw }}</div>
							</section>
							{% if not agenda.AKTIVITAS %}
							<section class="list-group-item-section well">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<a href="{{currPath}}/aktivitas?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Tambah Aktivitas</a>
									</div>
								</div>
							</section>
							{% else %}
							<section class="list-group-item-section">
								<strong class="text-info">Aktivitas Pembelajaran</strong><a data-toggle-hidden href="{{currPath}}/aktivitas?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-xs btn-warning pull-right"><span class="text-allcaps">Edit</span></a>
								<ul class="list-group-item-text">
									{% for aktivitas in agenda.AKTIVITAS %}
									<li>{% if aktivitas.TASK == '1' %}<strong>Task</strong> :{% endif %}{% if aktivitas.PROJECT == '1' %}<strong>Project</strong>:{% endif %}{{ aktivitas.TEXT_AKTIVITAS_AGENDA }}</li>
									{% endfor %}
								</ul>
							</section>
							{% endif %}
							{% if not agenda.ASESMEN %}
							<section class="list-group-item-section well">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<a href="{{currPath}}/asesmen?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Tambah Asesmen</a>
									</div>
								</div>
							</section>
							{% else %}
							<section class="list-group-item-section"><a data-toggle-hidden href="{{currPath}}/asesmen?id={{ agenda.ID_SUB_KOMPETENSI }}" class="btn btn-xs btn-warning pull-right"><span class="text-allcaps">Edit</span></a>
								{% if agenda.ASESMEN.tes is not empty %}
								<strong class="text-info">Assesmen - Tes</strong>
									{% for tes in agenda.ASESMEN.tes %}
								<ul class="list-group-item-text">
									<li>{{ tes.NAMA_ASSESMENT_SUB_KOMPETENSI }}</li>
								</ul>
									{% endfor %}
								{% endif %}
							</section>
							<section class="list-group-item-section">
								{% if agenda.ASESMEN.nontes is not empty %}
								<strong class="text-info">Assesmen - Non Tes</strong>
									{% for nontes in agenda.ASESMEN.nontes %}
									<ul class="list-group-item-text">
										<li>{{ nontes.NAMA_ASSESMENT_SUB_KOMPETENSI }}</li>
									</ul>
									{% endfor %}
								{% endif %}
							</section>
							{% endif %}
						</div>
						<hr class="mini">
						<div class="btn-group btn-group-xs pull-right" style="z-index:99">
							<a href="#" data-alert-single data-link="{{currPath}}/del/{{ agenda.ID_SUB_KOMPETENSI }}" data-alert-message="Hapus Agenda<br>{{ agenda.TEXT_SUB_KOMPETENSI|raw }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> <span class="text-allcaps">Delete</span></a>
						</div>
					</div>
				</div>
				{% endfor %}
				{% if agendas %}
				<div class="darken list-group-item clearfix">
					<a href="{{currPath}}/new" class="btn btn-lg btn-success col-xs-4 col-xs-offset-4"><i class="fa fa-plus"></i><span class="hidden-xs hidden-sm"> <strong>Tambah Agenda</strong></span></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% if not agendas or not isComplete %}
	{% set btnDisabled = true %}
{% endif %}
{% include 'components/_right-bar.twig' with {'pageTitle': 'Agenda', 'explanation': 'Berisi tentang ... mata kuliah', 'buttonState': 'submit', 'bumper': [currPath, '/bump']|join, 'saver': [currPath, '/submit']|join, 'btnDisabled': btnDisabled }  %}
{% endblock %}
