{% extends 'base.twig' %}

{% block pagetitle %}Approval{% endblock %}

{% block content %}
{% include 'components/_header.twig' %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Approval</h1>
			<form action="#" class="page-form form-inline hidden-xs" method="GET">
				<div class="form-group">
					<label for="status">Filter:</label>
					<select class="form-control" name="filter" id="status" onchange='this.form.submit()'>
						<option value="none" {% if selected == 'none' %}selected{% endif %}>No Filter</option>
						<option value="pending" {% if selected == 'pending' %}selected{% endif %}>Pending</option>
						<option value="approved" {% if selected == 'approved' %}selected{% endif %}>Approved</option>
					</select>
				</div>
				<noscript><input type="submit" class="form-control btn btn-primary" value="Filter"></noscript>
			</form>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	{% if msg %}
	<div class="row">
		<div class="col-lg-12">
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<strong>Sukses</strong><br>
				{{ msg }}
			</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		{% if filtered %}
			{% set filter = results %}
		{% else %}
			{% set filter = results %}
		{% endif %}
		{% if filter is empty %}
		<div class="col-lg-12">
			<div class="list-group">
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Maaf, Tidak ada hasil untuk filter <code>`{{ selected }}`</code></h4>
					<p class="list-group-item-text">Filter yang anda berikan tidak membuahkan hasil. Coba ganti atau hilangkan filter dengan memilih tombol dibawah</p>
					<br>
					<a href="/approval" class="btn btn-large btn-success"><i class="fa fa-plus"> <strong>Kembali</strong></i></a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col-lg-12">
			<div class="list-group">
				{% for result in results %}
				<div class="list-group-item complex-list">
					<div class="row">
						<div class="col-md-6">
							<h3 class="list-group-item-heading">{{ result.NamaMatkul }} <small>Versi {{ result.Versi }}</small></h3>
						</div>
						<div class="col-md-6">
							<div class="btn-toolbar pull-right">
								<div class="btn-group btn-group-sm">
									<a href="/review/{{ result.KDMataKuliah }}?id={{ result.ID_Approval }}" target="_blank" class="btn btn-primary">Review</a>
									{% if result.Approval == '2' %}
									<a href="/dokumen/{{ result.KDMataKuliah }}" target="_blank" class="btn btn-primary">Dokumen</a>
									{% endif %}
								</div>
								<div class="btn-group btn-group-sm">
									{% if result.Approval == '0' %}
									<a href="{{ currPath }}/{{ result.ID_Approval }}/approve?id={{ result.KDMataKuliah }}" class="btn btn-success">Approve</a>
									<a href="#" class="btn btn-danger" data-alert-box
										data-alert-title="Konfirmasi Reject RPS"
										data-html-template="
										<form action='/approval/{{ result.ID_Approval }}/reject' method='POST'>
											<div class='row' style='margin-bottom: 1em'>
												<div class='col-lg-12'>
													<input type='hidden' name='idMatkul' value='{{ result.KDMataKuliah }}'>
													<label for='review'><span class='sr-only'>Review</span></label>
													<textarea class='form-control' name='review' id='review' cols='30' rows='10' placeholder='Review'></textarea>
												</div>
											</div>
											<div class='row'>
												<div class='col-lg-6 col-sm-12 col-lg-offset-3'>
													<div class='btn-group btn-group-justified'>
														<a href='#' data-dismiss='modal' class='btn btn-primary'><i class='fa fa-check fa-fw'></i> Cancel</a>
														<div class='btn-group'><button class='btn btn-danger' type='submit'><i class='fa fa-check fa-fw'></i> Reject</button></div>
													</div>
												</div>
											</div>
										</form>
										">Reject</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
					{% if result.NotePeriksa %}
					<hr>
					<div class="row">
						<div class="col-md-12">
							<p>{{ result.NotePeriksa }}</p>
						</div>
					</div>
					{% endif %}
					<hr>
					<div class="row">
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Dosen</strong>
							<span class="box-component box-content"><i class="fa fa-user fa-fw"></i> {{ result.NamaDosen|length > 15 ? result.NamaDosen|slice(0, 15) ~ ' ...' : result.NamaDosen }}</span>
						</div>
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Periode</strong>
							<span class="box-component box-content"><i class="fa fa-briefcase fa-fw"></i> Semester {{ result.Semester }}/{{ result.Tahun }}</span>
						</div>
						{% if result.NotePeriksa %}
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Waktu Reject</strong>
							<span class="box-component box-content"><i class="fa fa-clock-o fa-fw"></i> <span data-moment-render>{{ result.TglPeriksa }}</span></span>
						</div>
						{% else %}
							{% if result.Approval == '0' %}
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Waktu Submit</strong>
							<span class="box-component box-content"><i class="fa fa-clock-o fa-fw"></i> <span data-moment-render>{{ result.TglMasuk }}</span></span>
						</div>
							{% else %}
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Waktu Approval</strong>
							<span class="box-component box-content"><i class="fa fa-clock-o fa-fw"></i> <span data-moment-render>{{ result.TglDisahkan }}</span></span>
						</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
