{% extends 'base.twig' %}

{% block pagetitle %}Dashboard{% endblock %}

{% block content %}
{% include 'components/_header.twig' %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Status Sistem</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		{# <div class="col-lg-12">
		{% include 'components/widgets/_notification-widget.twig' %}
		</div> #}
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Jumlah Matakuliah</h3>
				</div>
				<div class="panel-body">
					<div id="chartpanel1" data-chart></div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Approved vs Rejected</h3>
				</div>
				<div class="panel-body">
					<div id="chartpanel2" data-chart></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block inlinejs %}
<script src="/js/static/jquery.min.js"></script>
<script src="/js/static/raphael-min.js"></script>
<script src="/js/static/morris.min.js"></script>
<script>
function domReady() {
	if ($('#chartpanel1, #chartpanel2').length) {
		Morris.Line({
			element: 'chartpanel1',
			data: [
			{% for item in matkulData %}
				{tahun: '{{item.year}}', jumlah: {{item.jumlah}}}{% if not loop.last %},{% endif %}
			{% endfor %}
			],
			xkey: 'tahun',
			ykeys: ['jumlah'],
			labels: ['Jumlah Matakuliah'],
			resize: true
		});
		Morris.Line({
			element: 'chartpanel2',
			data: [
			{% for item in chartData %}
				{tahun: '{{item.year}}', approved: {{item.approved}}, rejected: {{item.rejected}}}{% if not loop.last %},{% endif %}
			{% endfor %}
			],
			xkey: 'tahun',
			ykeys: ['approved', 'rejected'],
			labels: ['Approved', 'Rejected'],
			resize: true
		});
	}
}
$(document).on('ready', function() {
	domReady();
});
</script>
{% endblock %}
