{% extends 'base.twig' %}

{% block pagetitle %}Indikator{% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Indikator</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			{% if not indikator %}
			<div class="list-group">
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Anda belum mempunyai indikator agenda ini.</h4>
					<p class="list-group-item-text">Untuk mulai membuat indikator baru klik tombol dibawah, dan isi masukan yang diberikan.</p>
					<br>
					<a href="#" class="btn btn-large btn-success"><i class="fa fa-plus"> <strong>Mulai membuat indikator</strong></i></a>
				</div>
			</div>
			{% endif %}
			<div class="form-group kompetensi">
				{% if indikator %}
					{% for item in indikator %}
				<div class="indikator" data-multi-target data-name="indikator">
					<a href="{{currPath}}/del/{{ item.ID_INDIKATOR }}?id={{ idAgenda }}" class="multi-close"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
					<textarea class="form-control input-lg" disabled name="text" data-id="[text]" rows="3" placeholder="lorem" data-multiline="disable">{{ item.TEXT_INDIKATOR }}</textarea>
					<input type="text" class="form-control input-lg" disabled value="{{ item.INDIKATOR.0.ID_KETERANGAN }} ({{ item.INDIKATOR.0.NAMA }})">
				</div>
					{% endfor %}
				{% endif %}
			</div>
			<form action="#" method="POST" data-toggle="validator">
				<section class="step">
					<div class="form-group kompetensi">
						<div class="kompetensi" data-multi-target data-name="kompetensi">
							<input type="hidden" name="idAgenda" value="{{ idAgenda }}">
							<textarea class="form-control input-lg" name="textIndikator" data-id="[text]" id="kompetensi" rows="3" placeholder="lorem" data-multiline="disable" required></textarea>
							<select name="indikator" class="form-control input-plain" data-form-multitag data-placeholder="Kategori" required>
							{% for item in allKategori %}
								<option value="{{ item.ID_KETERANGAN }}" data-tag-text="{{ item.NAMA }}">{{ item.ID_KETERANGAN }}</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" class="btn btn-lg btn-success btn-block" value="Tambah Kompetensi">
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>
{% include 'components/_right-bar.twig' with {'pageTitle': 'Kompetensi', 'explanation': 'Berisi tentang ... mata kuliah', 'buttonState': 'back'}  %}
{% endblock %}
