{% extends 'base.twig' %}

{% block pagetitle %}Kompetensi{% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Kompetensi</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			{% if not silabus.kompetensi %}
			<div class="list-group">
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Anda belum mempunyai kompetensi untuk mata kuliah {{ namaMatkul }}</h4>
					<p class="list-group-item-text">Untuk mulai membuat kompetensi baru klik tombol dibawah, dan isi masukan yang diberikan.</p>
					<br>
					<a href="#" class="btn btn-large btn-success"><i class="fa fa-plus"> <strong>Mulai membuat kompetensi</strong></i></a>
				</div>
			</div>
			{% endif %}
			<div class="form-group kompetensi">
				{% if silabus.kompetensi %}
					{% for kompetensi in silabus.kompetensi %}
				<div class="kompetensi" data-multi-target data-name="kompetensi">
					<a data-alert-single data-link="{{currPath}}/del/{{ kompetensi.ID_KOMPETENSI }}" href="#" class="multi-close" data-alert-message="Hapus Kompetensi - {{ kompetensi.NAMA_KOMPETENSI }}?"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
					<input type="hidden" name="idKompetensi" value="{{ kompetensi.ID_KOMPETENSI }}">
					<textarea class="form-control input-lg" disabled name="text" data-id="[text]" rows="3" placeholder="lorem" data-multiline="disable">{{ kompetensi.NAMA_KOMPETENSI }}</textarea>
					<select multiple name="kategori[]" class="form-control input-plain" disabled data-input-autosave data-form-multitag data-placeholder="Kategori">
					{% for item in kompetensi.KATEGORI_KOMPETENSI %}
						<option value="{{ item.ID_KATEGORI_KOMPETENSI }}" data-tag-text="{{ item.NAMA_KATEGORI_KOMPETENSI }}" {% if item.SELECTED %}selected{% endif %}>{{ item.ID_KATEGORI_KOMPETENSI }}</option>
					{% endfor %}
					</select>
				</div>
					{% endfor %}
				{% endif %}
			</div>
			<form action="#" method="POST" data-toggle="validator">
				<section class="step">
					<div class="form-group kompetensi">
						<div class="kompetensi" data-multi-target data-name="kompetensi">
							<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
							<input type="hidden" name="idSilabus" value="{{ silabus.idSilabus }}">
							<textarea class="form-control input-lg" name="text" data-id="[text]" id="kompetensi" rows="3" placeholder="lorem" data-multiline="disable" data-error="Kompetensi tidak boleh kosong" required></textarea>
							<select multiple name="kategori[]" data-id="[kategori][]" class="form-control input-plain" data-form-multitag data-placeholder="Kategori" required>
							{% for item in kategori %}
								<option value="{{ item.ID_KATEGORI_KOMPETENSI }}" data-tag-text="{{ item.NAMA_KATEGORI_KOMPETENSI }}">{{ item.ID_KATEGORI_KOMPETENSI }}</option>
							{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<input type="submit" class="btn btn-lg btn-success btn-block" value="Tambah Kompetensi">
						</div>
					</div>
				</section>
			</form>
		</div>
	</div>
</div>
{% include 'components/_right-bar.twig' with {'pageTitle': 'Kompetensi', 'explanation': 'Berisi tentang ... mata kuliah', 'buttonState': 'back'}  %}
{% endblock %}
