<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
	<title>{% block pagetitle %}Home{% endblock %} - SAR</title>
	<link href="/css/app.min.css" rel="stylesheet">
</head>
<body>
	<div id="wrapper">
	{% block content %}{% endblock %}
	</div>
	<script src="/js/bundle.js" charset="utf-8"></script>
	{% block inlinejs %}{% endblock %}
	{% if debug %}
	<script src="//localhost:35729/livereload.js"></script>
	{% endif %}
	{% if ws and username %}
	<script src="//{{ wsHost }}/socket.io/socket.io.js"></script>
	<script src="/js/static/vanilla-notify.min.js"></script>
	<script type="text/javascript">
	var client = io.connect('//{{ wsHost }}');
	var request = new XMLHttpRequest();
	vNotify.options = {
	  sticky: true,
	  showClose: true
	};
	client.on('connect', function() {
		client.emit('adduser', '{{ username }}', '{{ nip }}');
		client.on('submitApproval', function (namaMatkul, username) {
			vNotify.info({
				text: 'Request approval baru dari <strong>' + username + '</strong> untuk Mata Kuliah <strong>' + namaMatkul + '</strong>',
				title: 'Approval Baru'
			});
		});
		client.on('approveApproval', function (namaMatkul) {
			request.open('GET', 'http://{{ baseUrl }}/api/v1/update/progress/{{ nip }}', true);
			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
					vNotify.success({
						text: 'Request approval untuk Mata Kuliah <strong>' + namaMatkul + '</strong> telah diapprove.',
						title: 'Info'
					});
				} else {
					console.log('error');
				}
			};
			request.onerror = function() {
				console.log('error');
			}
			request.send();
		});
		client.on('rejectApproval', function (namaMatkul) {
			request.open('GET', 'http://{{ baseUrl }}/api/v1/update/progress/{{ nip }}', true);
			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
					vNotify.error({
						text: 'Request approval untuk Mata Kuliah <strong>' + namaMatkul + '</strong> direject.',
						title: 'Perhatian'
					});
				} else {
					console.log('error');
				}
			};
			request.onerror = function() {
				console.log('error');
			}
			request.send();
		});
	});
	{% block socket %}{% endblock %}
	</script>
	{% endif %}
</body>
</html>
