{% if state == 'collapsed' %}
<div class="sidebar-right collapsed" data-toggle="sidebar-right">
{% else %}
<div class="sidebar-right" data-toggle="sidebar-right">
{% endif %}
	<div class="panel panel-right">
		<div class="panel-body">
			<h4 class="page-header" data-wizard-step-title>{{ pageTitle }}</h4>
			<p data-wizard-step-explanation>{{ explanation }}</p>
			<ul class="list-group">
				<li class="list-group-item"><small><strong class="text-muted">Revisi</strong></small><br>01</li>
				{% if startDate is defined %}
				<li class="list-group-item"><small><strong class="text-muted">Start Date</strong></small><br><span data-moment-render>{{ startDate }}</span></li>
				{% endif %}
				{% if lastEditDate is defined %}
				<li class="list-group-item"><small><strong class="text-muted">Last Edit</strong></small><br><span data-moment-render>{% if lastEditDate is not null %}{{ lastEditDate }}{% else %}Never{% endif %}</span></li>
				{% endif %}
				<li class="list-group-item"><small><strong class="text-muted">Status</strong></small><br><span class="text-danger">Unapproved</span></li>
			</ul>
			{% if buttonState == 'submit' %}
			<div class="btn-group-vertical btn-block" role="group">
				<a href="{{ bumper }}" class="{% if btnDisabled %}disabled {% endif %}btn btn-block btn-primary btn-lg">Save</a>
				<a href="{{ saver }}" class="{% if btnDisabled %}disabled {% endif %}btn btn-block btn-success btn-lg">Submit</a>
			</div>
			{% elseif buttonState == 'back' %}
			<a href="{{ btnPath }}" class="btn btn-block btn-primary btn-lg">Kembali</a>
			{% else %}
			{% endif %}
		</div>
	</div>
</div>
