<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		{% if username is empty %}
		<a href="/arsip" data-pjax-full class="navbar-toggle navbar-btn navbar-login btn btn-primary visible-xs">Arsip</a>
		{% endif %}
		<a {% if not username %}data-pjax-full{% endif %} class="navbar-brand" href="/"><strong class="hidden-xs" >MCIS</strong>Silabus &amp; SAR</a>
		{# <a data-pjax-full class="navbar-brand" href="/"><strong class="hidden-xs" >MCIS</strong>Silabus &amp; SAR</a> #}
		<span class="navbar-ident small text-muted visible-xs"><strong>{% if username is empty %}MCIS{% else %}{{ username|length > 15 ? username|slice(0, 15) ~ ' ...' : username }}{% endif %}</strong></span>
		{% if username is not empty %}
		<a href="/logout" class="btn btn-default navbar-btn navbar-logout pull-right visible-xs">Sign Out</a>
		{% endif %}
	</div>
	<ul class="nav navbar-top-links navbar-right">
		{% if username is not empty %}
			{% if matkuls is not empty and matkuls|length > 1 %}
		<li class="dropdown hidden-xs">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-briefcase fa-fw"></i> Matakuliah <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-tasks">
				{% for matkul in matkuls %}
					{% if matkul.percentage != '100' %}
				<li>
					<a href="/matakuliah/{{ matkul.KDMataKuliah }}" data-pjax>
						<div>
							<p>
								<strong>{{ matkul.NamaMK|length > 20 ? matkul.NamaMK|slice(0, 20) ~ ' ...' : matkul.NamaMK }}</strong>
								<span class="pull-right text-muted">{{ matkul.percentage }}% Complete</span>
							</p>
							<div class="progress progress-striped active">
                  <div class="progress-bar {% if matkul.percentage == '0' %}progress-bar-danger{% else %}progress-bar-success{% endif %}" role="progressbar" aria-valuenow="{% if matkul.percentage == '0' %}100{% else %}{{ matkul.percentage }}{% endif %}" aria-valuemin="0" aria-valuemax="100" style="width: {% if matkul.percentage == '0' %}100%{% else %}{{ [matkul.percentage, '%']|join }}{% endif %}">
                      <span class="sr-only">{{ matkul.percentage }}% Complete (success)</span>
                  </div>
              </div>
						</div>
					</a>
				</li>
				<li class="divider"></li>
					{% endif %}
				{% endfor %}
				<li>
					<a href="/matakuliah?filter=active" data-pjax class="center-block text-center">
						<strong>All Matakuliah</strong>
					</a>
				</li>
			</ul>
			<!-- /.dropdown-tasks -->
		</li>
			{% elseif matkuls is not empty and matkuls['0'].approved != 'approved' %}
		<li>
			<div class="progress-navbar">
				<a href="/matakuliah/{{ matkuls['0'].KDMataKuliah }}" data-pjax>
					<span class="progress-caption text-muted text-allcaps"><strong>{{ matkuls['0'].NamaMK }}</strong></span>
					<div class="progress" style="width: 120px">
						<div class="progress-bar {% if matkuls['0'].percentage == '0' %}progress-bar-danger{% else %}progress-bar-success{% endif %}" role="progressbar" aria-valuenow="{% if matkuls['0'].percentage == '0' %}100{% else %}{{ matkuls['0'].percentage }}{% endif %}" aria-valuemin="0" aria-valuemax="100" style="width:{% if matkuls['0'].percentage == '0' %}100%{% else %}{{ [matkuls['0'].percentage, '%']|join }}{% endif %}">
							{{ matkuls['0'].percentage }}%
						</div>
					</div>
				</a>
			</div>
		</li>
			{% endif %}
		<!-- /.dropdown -->
		<li class="dropdown hidden-xs">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{{ username }}">
				<i class="fa fa-user fa-fw"></i> {{ username|length > 15 ? username|slice(0, 15) ~ ' ...' : username }} <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				{# <li><a href="/user"><i class="fa fa-user fa-fw"></i> User Profile</a>
				</li>
				<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
				</li>
				<li class="divider"></li> #}
				<li><a href="/logout" data-pjax-disabled><i class="fa fa-sign-out fa-fw"></i> Logout</a>
				</li>
			</ul>
			<!-- /.dropdown-user -->
		</li>
		{% else %}
			{% if not isLogin %}
		<a href="/" data-pjax-full class="btn btn-primary primary navbar-btn btn-login hidden-xs">Login</a>
			{% else %}
		<a href="/arsip" data-pjax-full class="btn btn-primary primary navbar-btn btn-login hidden-xs">Arsip</a>
			{% endif %}
		{% endif %}
		<!-- /.dropdown -->
	</ul>
	{% if not noSidebar %}
	{% include 'components/_sidebar.twig' %}
	{% endif %}
</nav>
