{% extends 'base.twig' %}

{% block pagetitle %}Approval{% endblock %}

{% block content %}
{% include 'components/_header.twig' %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Approval</h1>
			{# <form action="#" class="page-form form-inline hidden-xs" method="GET">
				<div class="form-group">
					<label for="tahun" class="sr-only">Filter By Tahun</label>
					<select class="form-control" name="tahun" id="tahun">
						<option value="2011">2011</option>
						<option value="2012">2012</option>
					</select>
				</div>
				<div class="form-group">
					<label for="status"></label>
					<select class="form-control" name="status" id="status">
						<option value="0">Submit</option>
						<option value="1">Review</option>
						<option value="2">Approved</option>
					</select>
				</div>
				<input type="submit" class="form-control btn btn-primary" value="Filter">
			</form> #}
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="list-group">
				{% for result in results %}
				<div class="list-group-item complex-list">
					<div class="row">
						<div class="col-md-6">
							<h3 class="list-group-item-heading">{{ result.NamaMatkul }} <small>Versi {{ result.Versi }}</small></h3>
						</div>
						<div class="col-md-6">
							<div class="btn-group btn-group-sm pull-right">
								<a href="/matakuliah/{{ result.KDMataKuliah }}" target="_blank" class="btn btn-primary">Review</a>
								<button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle">
									Action
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{ currPath }}/{{ result.ID_Approval }}/approve">Approve</a></li>
									<li><a href="{{ currPath }}/{{ result.ID_Approval }}/reject">Reject</a></li>
								</ul>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Dosen</strong>
							<span class="box-component box-content"><i class="fa fa-user fa-fw"></i> {{ result.NamaDosen|length > 15 ? result.NamaDosen|slice(0, 15) ~ ' ...' : result.NamaDosen }}</span>
						</div>
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Periode</strong>
							<span class="box-component box-content"><i class="fa fa-briefcase fa-fw"></i> Semester {{ result.Semester }}/{{ result.Tahun }}</span>
						</div>
						<div class="col-sm-4 list-group-item-text text-center box">
							<strong class="text-muted box-component box-title">Waktu Submit</strong>
							<span class="box-component box-content" data-moment-render><i class="fa fa-clock-o fa-fw"></i> {{ result.TglMasuk }}</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
