{% extends 'base.twig' %}

{% block pagetitle %}Rencana Evaluasi Pembelajaran untuk Mata Kuliah xxx{% endblock %}

{% block content %}
	{% include 'components/_header.twig' with {'state': 'mini'}%}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Rencana Evaluasi Pembelajaran</h1>
				{% include 'components/widgets/_breadcrumb.twig' %}
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead class="table-center">
							<tr>
								<td rowspan="3"><strong>Pertemuan Ke</strong></td>
								<td rowspan="3"><strong>Specific Learning Objective <br> (Sub-Kompetensi)</strong></td>
								<td colspan="{{countKategori}}"><strong>Elemen Kompetensi dalam Asesmen</strong></td>
								<td rowspan="3"><strong>Bentuk Asesmen</strong></td>
								<td rowspan="3"><strong>%</strong></td>
							</tr>
							<tr>
								{% for key, value in groupKategori %}
								<td colspan="{{ value.LENGTH }}"><strong>{{ key }}</strong></td>
								{% endfor %}
							</tr>
							<tr>
								{% for item in groupKategori %}
									{% for key, value in item %}
										{% if value is iterable %}
								<td>{{ value.ID_KETERANGAN }}</td>
										{% endif %}
									{% endfor %}
								{% endfor %}
							</tr>
						</thead>
						{% for item in agendas %}
						<tr>
							<td class="text-center">{{ item.RANGE_PERTEMUAN }}</td>
							<td>{{ item.TEXT_SUB_KOMPETENSI }}</td>
							{% for kategori in item.UNIQUE_INDIKATOR %}
								{% for key, value in kategori %}
									{% if value is iterable %}
							<td class="text-center">{% if value.SELECTED %}&#10003;{% endif %}</td>
									{% endif %}
								{% endfor %}
							{% endfor %}
							<td>
								{% if item.ASESMEN.tes is not empty %}
								<strong>Tes</strong>: <br>
								<ul>
									{% for asesmenTes in item.ASESMEN.tes %}
									<li>{{ asesmenTes.NAMA_ASSESMENT_SUB_KOMPETENSI }}</li>
									{% endfor %}
								</ul>
								{% endif %}
								{% if item.ASESMEN.nontes is not empty %}
								<strong>Non Tes</strong>: <br>
								<ul>
									{% for asesmenNontes in item.ASESMEN.nontes %}
									<li>{{ asesmenNontes.NAMA_ASSESMENT_SUB_KOMPETENSI }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</td>
							<td class="text-center">{{ item.BOBOT }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
	{% include 'components/_right-bar.twig' with {'pageTitle': 'Rencana Evaluasi', 'explanation': 'Berisi tentang ... mata kuliah', 'buttonState': 'submit'}  %}
{% endblock content %}
