{% extends 'base.twig' %}

{% block pagetitle %}Progress Mata Kuliah {{ namaMatkul }}{% endblock %}

{% block content %}
{% include 'components/_header.twig' %}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			{% if idMatkul is defined %}
			<h1 class="page-header">Detail progress untuk {{ namaMatkul }}</h1>
			{% else %}
			<h1 class="page-header">Daftar Mata Kuliah</h1>
			{% endif %}
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		{% if idMatkul is defined %}
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bell fa-fw"></i> Progress Pembuatan
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="list-group">
						<a href="{{ currPath }}/silabus" class="list-group-item{% if progress.RPSDetails.silabus == 'never' %} list-group-item-warning{% elseif progress.RPSDetails.silabus == 'work' %} list-group-item-info{% elseif progress.RPSDetails.silabus == 'finish' %} list-group-item-success{% endif %}">
							{% if progress.RPSDetails.silabus == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Silabus <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if progress.RPSDetails.silabus == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Silabus <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if progress.RPSDetails.silabus == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Silabus <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if progress.RPSDetails.silabus == 'never' %}#{% else %}{{ currPath }}/agenda{% endif %}" class="list-group-item{% if progress.RPSDetails.agenda == 'never' %} list-group-item-warning{% elseif progress.RPSDetails.agenda == 'work' %} list-group-item-info{% elseif progress.RPSDetails.agenda == 'finish' %} list-group-item-success{% endif %}">
							{% if progress.RPSDetails.agenda == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Agenda <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if progress.RPSDetails.agenda == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Agenda <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if progress.RPSDetails.agenda == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Agenda <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if progress.RPSDetails.agenda == 'never' %}#{% else %}{{ currPath }}/evaluasi{% endif %}" class="list-group-item{% if progress.RPSDetails.agenda == 'never' %} list-group-item-warning{% elseif progress.RPSDetails.agenda == 'work' %} list-group-item-info{% elseif progress.RPSDetails.agenda == 'finish' %} list-group-item-success{% endif %}">
							{% if progress.RPSDetails.agenda == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Rencana Evaluasi <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if progress.RPSDetails.agenda == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Rencana Evaluasi <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if progress.RPSDetails.agenda == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Rencana Evaluasi <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if progress.RPSDetails.agenda == 'never' %}#{% else %}{{ currPath }}/task{% endif %}" class="list-group-item{% if progress.RPSDetails.project == 'never' %} list-group-item-warning{% elseif progress.RPSDetails.project == 'work' %} list-group-item-info{% elseif progress.RPSDetails.project == 'finish' %} list-group-item-success{% endif %}">
							{% if progress.RPSDetails.project == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Task&#47;Project <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if progress.RPSDetails.project == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Task&#47;Project <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if progress.RPSDetails.project == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Task&#47;Project <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if progress.RPSDetails.project == 'never' %}#{% else %}{{ currPath }}/jadwal{% endif %}" class="list-group-item{% if progress.RPSDetails.project == 'never' %} list-group-item-warning{% elseif progress.RPSDetails.project == 'work' %} list-group-item-info{% elseif progress.RPSDetails.project == 'finish' %} list-group-item-success{% endif %}">
							{% if progress.RPSDetails.project == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Jadwal Aktivitas <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if progress.RPSDetails.project == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Jadwal Aktivitas <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if progress.RPSDetails.project == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Jadwal Aktivitas <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3">
							<div class="btn-group btn-group-justified btn-group-lg">
								<a href="#" class="{% if progress.RPSDetails.silabus != 'finish' or progress.RPSDetails.agenda != 'finish' or progress.RPSDetails.project != 'finish' %}disabled {% endif %}btn btn-primary"><i class="fa fa-print"></i> Cetak RPS</a>
								<a href="{{ currPath }}/submit" class="{% if progress.RPSDetails.silabus != 'finish' or progress.RPSDetails.agenda != 'finish' or progress.RPSDetails.project != 'finish' %}disabled {% endif %}btn btn-success"><i class="fa fa-cloud"></i> Submit RPS</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
		</div>
		{% else %}
			{% for matkul in matkuls %}
		<div class="{% if matkuls|length <= 4 %}col-lg-12{% else %}col-lg-6{% endif %}">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h4 class="pull-left panel-title" style="padding-top: 7.5px">{{ matkul.NamaMK|upper }}</a></h4>
					<a href="{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}" class="btn btn-sm btn-primary pull-right">Rincian</a>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}/silabus" class="list-group-item{% if matkul.RPSDetails.silabus == 'never' %} list-group-item-warning{% elseif matkul.RPSDetails.silabus == 'work' %} list-group-item-info{% elseif matkul.RPSDetails.silabus == 'finish' %} list-group-item-success{% endif %}">
							{% if matkul.RPSDetails.silabus == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Silabus <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if matkul.RPSDetails.silabus == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Silabus <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if matkul.RPSDetails.silabus == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Silabus <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if matkul.RPSDetails.silabus == 'never' %}#{% else %}{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}/agenda{% endif %}" class="list-group-item{% if matkul.RPSDetails.agenda == 'never' %} list-group-item-warning{% elseif matkul.RPSDetails.agenda == 'work' %} list-group-item-info{% elseif matkul.RPSDetails.agenda == 'finish' %} list-group-item-success{% endif %}">
							{% if matkul.RPSDetails.agenda == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Agenda <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if matkul.RPSDetails.agenda == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Agenda <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if matkul.RPSDetails.agenda == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Agenda <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if matkul.RPSDetails.agenda == 'never' %}#{% else %}{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}/evaluasi{% endif %}" class="list-group-item{% if matkul.RPSDetails.agenda == 'never' %} list-group-item-warning{% elseif matkul.RPSDetails.agenda == 'work' %} list-group-item-info{% elseif matkul.RPSDetails.agenda == 'finish' %} list-group-item-success{% endif %}">
							{% if matkul.RPSDetails.agenda == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Rencana Evaluasi <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if matkul.RPSDetails.agenda == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Rencana Evaluasi <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if matkul.RPSDetails.agenda == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Rencana Evaluasi <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if matkul.RPSDetails.agenda == 'never' %}#{% else %}{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}/task{% endif %}" class="list-group-item{% if matkul.RPSDetails.project == 'never' %} list-group-item-warning{% elseif matkul.RPSDetails.project == 'work' %} list-group-item-info{% elseif matkul.RPSDetails.project == 'finish' %} list-group-item-success{% endif %}">
							{% if matkul.RPSDetails.project == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Task&#47;Project <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if matkul.RPSDetails.project == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Task&#47;Project <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if matkul.RPSDetails.project == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Task&#47;Project <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
						<a href="{% if matkul.RPSDetails.project == 'never' %}#{% else %}{{ baseurl }}/matakuliah/{{ matkul.KDMataKuliah }}/jadwal{% endif %}" class="list-group-item{% if matkul.RPSDetails.project == 'never' %} list-group-item-warning{% elseif matkul.RPSDetails.project == 'work' %} list-group-item-info{% elseif matkul.RPSDetails.project == 'finish' %} list-group-item-success{% endif %}">
							{% if matkul.RPSDetails.project == 'never' %}<i class="fa fa-exclamation fa-fw text-warning"><span class="sr-only">Belum: </span></i> Jadwal Aktivitas <span class="pull-right label label-danger">unfinished</span>{% endif %}
							{% if matkul.RPSDetails.project == 'work' %}<i class="fa fa-pencil fa-fw text-info"><span class="sr-only">Dalam Proses: </span></i> Jadwal Aktivitas <span class="pull-right label label-warning">writing &hellip;</span>{% endif %}
							{% if matkul.RPSDetails.project == 'finish' %}<i class="fa fa-check fa-fw text-success"><span class="sr-only">Selesai: </span></i> Jadwal Aktivitas <span class="pull-right label label-success">finished</span>{% endif %}
						</a>
					</div>
					<div class="row">
						<div class="col-lg-6 col-lg-offset-3">
							<div class="btn-group btn-group-justified btn-group-lg">
								<a href="#" class="{% if matkul.RPSDetails.silabus != 'finish' or matkul.RPSDetails.agenda != 'finish' or matkul.RPSDetails.project != 'finish' %}disabled {% endif %}btn btn-primary"><i class="fa fa-print"></i> Cetak RPS</a>
								<a href="{{ currPath }}/{{ matkul.KDMataKuliah }}/submit" class="{% if matkul.RPSDetails.silabus != 'finish' or matkul.RPSDetails.agenda != 'finish' or matkul.RPSDetails.project != 'finish' %}disabled {% endif %}btn btn-success"><i class="fa fa-cloud"></i> Submit RPS</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock content %}
