{% extends 'base.twig' %}

{% block pagetitle %}Silabus untuk {% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Silabus</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
			{% if warning is defined %}
			<div class="alert alert-dismissible alert-warning" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Warning:</strong> Anda telah menyelesaikan tahap pengisian Silabus
			</div>
			{% endif %}
			{# <div class="alert alert-dismissible alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<strong>Uh oh.</strong> This has been verified and approved by kaprodi. you cannot edit this anymore.
			</div> #}
		</div>
	</div>
	{# <div class="row">
		<div class="col-lg-12">
			<ul data-wizard-pager></ul>
			<form action="{{ currPath }}" id="silabusForm" role="form" class="cycle-slideshow"
				method="POST"
				data-form-dynamic
				data-cycle-fx="none"
				data-cycle-auto-height="false"
				data-cycle-timeout="0"
				data-cycle-speed="100"
				data-cycle-slides=">[data-wizard-pages]"
				data-cycle-slide-active-class="active"
				data-cycle-log="false"
				data-cycle-prev="[data-wizard-toggle=wizard-prev]"
				data-cycle-next="[data-wizard-toggle=wizard-next]"
				data-cycle-allow-wrap="false"
				data-cycle-pager="[data-wizard-pager]"
				data-cycle-pager-active-class="active"
				data-wizard
				data-form-autosave
				{% verbatim %}
				data-cycle-pager-template="<li data-wizard-pagers><a href='#'><span>{{slideNum}}</span>. {{dataset.stepTitle}}</a></li>"
				{% endverbatim %}
				>
				<section class="step" data-wizard-pages data-step-title="Tujuan" data-step-explanation="Berisi tentang tujuan dan kompetensi dari mata kuliah yang sedang dijabarkan" data-cycle-hash="Tujuan">
					<div class="form-group" data-step-title="Tujuan">
						<textarea data-input-autosave class="form-control input-lg" name="tujuan" rows="10" placeholder="lorem" data-multiline="disable">{% if tujuan is defined %}{{ tujuan }}{% endif %}</textarea>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Kompetensi" data-step-explanation="Berisi tentang penjelasan kompetensi dari mata kuliah yang sedang dijabarkan" data-cycle-hash="Kompetensi">
					<div class="form-group kompetensi" data-multi-target-parent>
						{% if kompetensi is defined %}
							{% for detail in kompetensi %}
						<div class="kompetensi" data-multi-target data-name="kompetensi">
							<a href="#" data-multi-target-close data-target="[data-multi-target]"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<input type="hidden" name="kompetensi[{{ loop.index0 }}][id]" data-id="[id]" value="{{ detail.ID_KOMPETENSI }}">
							<textarea class="form-control input-lg" name="kompetensi[{{ loop.index0 }}][text]" data-id="[text]" rows="3" placeholder="lorem" data-multiline="disable">{{ detail.NAMA_KOMPETENSI }}</textarea>
							<select multiple name="kompetensi[{{ loop.index0 }}][kategori][]" data-id="[kategori][]" class="form-control input-plain" data-input-autosave data-form-multitag data-placeholder="Kategori">
								{% for item in detail.KATEGORI_KOMPETENSI %}
								<option value="{{ item.ID_KATEGORI_KOMPETENSI }}" data-tag-text="{{ item.NAMA_KATEGORI_KOMPETENSI }}" {% if item.SELECTED %}selected{% endif %}>{{ item.ID_KATEGORI_KOMPETENSI }}</option>
								{% endfor %}
							</select>
						</div>
							{% endfor %}
						{% else %}
						<div class="kompetensi" data-multi-target data-name="kompetensi">
							<a href="#" data-multi-target-close data-target="[data-multi-target]"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<input type="hidden" name="kompetensi[0][id]" data-id="[id]" value="">
							<textarea data-input-autosave class="form-control input-lg" name="kompetensi[0][text]" data-id="[text]" id="kompetensi" rows="3" placeholder="lorem" data-multiline="disable"></textarea>
							<select multiple name="kompetensi[0][kategori][]" data-id="[kategori][]" class="form-control input-plain" data-input-autosave data-form-multitag data-placeholder="Kategori">
							{% for item in kategori %}
								<option value="{{ item.ID_KATEGORI_KOMPETENSI }}" data-tag-text="{{ item.NAMA_KATEGORI_KOMPETENSI }}">{{ item.ID_KATEGORI_KOMPETENSI }}</option>
							{% endfor %}
							</select>
						</div>
						{% endif %}
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<a data-multi-target-btn data-target=".kompetensi[data-multi-target]" data-multi-target-container=".kompetensi[data-multi-target-parent]" href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus"></i><span class="hidden-sm"> Tambah Kompetensi</span></a>
						</div>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Pokok Bahasan" data-step-explanation="Berisi tentang asdasdas dari mata kuliah yang sedang dijabarkan" data-cycle-hash="pokok-bahasan">
					<div class="form-group">
						<textarea data-input-autosave class="form-control input-lg" name="pokok-bahasan" rows="10" placeholder="lorem" data-multiline="disable">{% if pokokBahasan is defined %}{{ pokokBahasan }}{% endif %}</textarea>
					</div>
				</section>
				<section class="step" data-wizard-pages data-step-title="Kepustakaan" data-step-explanation="Berisi tentang asdasdas dari mata kuliah yang sedang dijabarkan" data-cycle-hash="kepustakaan">
					<div class="form-group kepustakaan" data-multi-target-parent>
						{% if pustaka is defined %}
							{% for item in pustaka %}
						<div class="kepustakaan" data-multi-target>
							<a href="#" data-multi-target-close data-target="[data-multi-target]"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<input type="hidden" name="kepustakaan[{{ loop.index0 }}][id]" value="{{ item.ID_PUSTAKA }}">
							<div class="row">
								<div class="col-sm-9">
									<input type="text" class="form-control" name="kepustakaan[{{ loop.index0 }}][judul]" placeholder="Judul" value="{{ item.JUDUL_PUSTAKA }}">
								</div>
								<div class="col-sm-3">
									<input type="number" class="form-control" name="kepustakaan[{{ loop.index0 }}][tahun]" placeholder="Tahun Terbit" value="{{ item.TAHUN_TERBIT_PUSTAKA }}">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input type="text" class="form-control" name="kepustakaan[{{ loop.index0 }}][penerbit]" placeholder="Penerbit" value="{{ item.PENERBIT_PUSTAKA }}">
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="kepustakaan[{{ loop.index0 }}][pengarang]" placeholder="Pengarang" value="{{ item.PENGARANG_PUSTAKA }}">
								</div>
							</div>
						</div>
							{% endfor %}
						{% else %}
						<div class="kepustakaan" data-multi-target>
							<a href="#" data-multi-target-close data-target="[data-multi-target]"><i class="fa fa-times"></i><span class="sr-only">Close</span></a>
							<input type="hidden" name="kepustakaan[0][id]" value="{{ item.ID_PUSTAKA }}">
							<div class="row">
								<div class="col-sm-9">
									<input type="text" class="form-control" name="kepustakaan[0][judul]" placeholder="Judul">
								</div>
								<div class="col-sm-3">
									<input type="number" class="form-control" name="kepustakaan[0][tahun]" placeholder="Tahun Terbit">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<input type="text" class="form-control" name="kepustakaan[0][penerbit]" placeholder="Penerbit">
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" name="kepustakaan[0][pengarang]" placeholder="Pengarang">
								</div>
							</div>
						</div>
						{% endif %}
					</div>
					<div class="form-group">
						<div class="col-sm-6 col-sm-offset-3">
							<a data-multi-target-btn data-target=".kepustakaan[data-multi-target]" data-multi-target-container=".kepustakaan[data-multi-target-parent]" href="#" class="btn btn-lg btn-success btn-block"><i class="fa fa-plus"></i><span class="hidden-sm"> Tambah Kepustakaan</span></a>
						</div>
					</div>
				</section>
			</form>
		</div>
	</div> #}
	<div class="row">
		<div class="col-lg-12">
			<div class="list-group">
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Anda belum mempunyai silabus untuk mata kuliah {{ namaMatkul }}</h4>
					<p class="list-group-item-text">Untuk mulai membuat silabus baru klik tombol dibawah, dan isi masukan yang akan diberikan pada halaman yang muncul.</p>
					<br>
					<a href="{{currPath}}/new" class="btn btn-large btn-success"><i class="fa fa-plus"> <strong>Mulai membuat silabus</strong></i></a>
				</div>
			</div>
			<div class="list-group-item clearfix">
				<div class="list-group-item-content">
					<div class="list-group-toggle">
						<section class="list-group-item-section">
							<strong class="text-info">Sub Kompetensi</strong>
							<p class="list-group-item-text">Mahasiswa mampu menjelaskan dan memberi contoh proyek proyek TI</p>
						</section>
						<section class="list-group-item-section">
							<strong class="text-info">Indikator Pencapaian</strong>
							<ul class="list-group-item-text">
								<li>Pemahaman karakteristik, sasaran, stakeholder, kumpulan, keahlian, dan jenis proyek <span class="label label-primary">C1</span></li>
								<li>Kemampuan membedakan proyek TI dan bukan TI <span class="label label-primary">C1</span></li>
							</ul>
						</section>
						<section class="list-group-item-section">
							<strong class="text-info">Materi Pembelajaran</strong>
							<ul class="list-group-item-text">
								<li>Inisialisasi Perkuliahan
									<ul>
										<li>Motivasi Belajar</li>
										<li>Rencana Pembelajaran</li>
										<li>Rules Belajar</li>
									</ul>
								</li>
								<li>Berbagai Artikel tentang proyek, proyek TI dan proyek non TI</li>
								<li>Metode pengembangan aplikasi</li>
								<li>Pengantar Manajemen Proyek
								<ul>
									<li>Tiga Batasan Proyek</li>
									<li>Area keahlian Manajemen Proyek</li>
									<li>Program dan Portofolio</li>
									<li>SubProject</li>
								</ul>
								</li>
								<li>Kemampuan membedakan proyek TI dan bukan TI <span class="label label-primary">C1</span></li>
							</ul>
						</section>
						<section class="list-group-item-section">
							<strong class="text-info">Aktivitas Pembelajaran</strong>
							<ul class="list-group-item-text">
								<li>Kuliah &amp; Brainstorming</li>
								<li>Task 1: Membuat target kompetensi</li>
								<li>Diskusi tentang Proyek, proyek TI, proyek bukan TI, dan perbedaannya</li>
								<li>Task 2: Membuat resume tentang proyek TI</li>
							</ul>
						</section>
						<section class="list-group-item-section">
							<strong class="text-info">Assesmen <span class="label label-primary">Non-Tes</span> <span class="label label-danger">15%</span></strong>
							<ul class="list-group-item-text">
								<li>Presentasi skenario sendratari</li>
								<li>Yel yel tim dan sendratari</li>
								<li>Pembelajaran proyek sendratari</li>
							</ul>
						</section>
					</div>
					<hr class="mini">
					<span class="label label-primary">C1 - Pengetahuan</span>
					<span class="label label-primary">A5 - Mengatur Diri</span>
					<div class="btn-group btn-group-xs pull-right">
						<a href="#" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i><span class="sr-only">Edit</span></a>
						<a href="#" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i><span class="sr-only">Delete</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include 'components/sidebar/_silabus-helper.twig' with {'state': 'collapsed'}  %}
{% endblock %}

{% block inlinejs %}
<script>triggerLayoutMini()</script>
{% endblock %}
