{% extends 'base.twig' %}

{% block pagetitle %}Silabus untuk {{ namaMatkul }}{% endblock %}

{% block content %}
{% include 'components/_header.twig' with {'state': 'mini'}%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Silabus untuk {{ namaMatkul }}</h1>
			{% include 'components/widgets/_breadcrumb.twig' %}
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			{% if isNew %}
			<div class="list-group">
				<div class="list-group-item well">
					<h4 class="list-group-item-heading">Anda belum mempunyai silabus untuk mata kuliah {{ namaMatkul }}</h4>
					<p class="list-group-item-text">Untuk mulai membuat silabus baru klik tombol dibawah, dan isi masukan yang akan diberikan pada halaman yang muncul.</p>
					<br>
					<a href="{{currPath}}/new" class="btn btn-large btn-success"><i class="fa fa-plus"></i> <strong>Mulai membuat silabus</strong></a>
				</div>
			</div>
			{% else %}
			<div class="list-group-item clearfix sheet" style="margin-bottom: 2em">
				<div class="list-group-item-content">
					<div class="list-group-toggle">
						<section class="list-group-item-section">
							<strong class="text-info h3 sheet-heading">Tujuan <a href="{{ currPath }}/edit" class="btn btn-warning pull-right">Edit</a></strong>
							<p class="list-group-item-text">{{ silabus.tujuan }}</p>
						</section>
						<section class="list-group-item-section">
							{% if silabus.kompetensi %}
							<strong class="text-info h3 sheet-heading">Kompetensi <a href="{{ currPath }}/kompetensi" class="btn btn-warning pull-right">Edit</a></strong>
							<ul class="list-group-item-text">
								{% for item in silabus.kompetensi %}
								<li><p>{{ item.NAMA_KOMPETENSI }}
									{% for tag in item.KATEGORI_KOMPETENSI %}
										{% if tag.SELECTED %}
									<span class="label label-primary">{{tag.ID_KATEGORI_KOMPETENSI}}</span>
										{% endif %}
									{% endfor %}</p>
								</li>
								{% endfor %}
							</ul>
							{% else %}
							<strong class="text-info h3 sheet-heading">Kompetensi</strong>
							<div class="well">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<a href="{{currPath}}/kompetensi" class="btn btn-block btn-lg btn-success"><i class="fa fa-plus"></i> Tambah Kompetensi</a>
									</div>
								</div>
							</div>
							{% endif %}
						</section>
						<section class="list-group-item-section">
							<strong class="text-info h3 sheet-heading">Pokok Bahasan <a href="{{ currPath }}/edit" class="btn btn-warning pull-right">Edit</a></strong>
							<p class="list-group-item-text">{{ silabus.pokokBahasan }}</p>
						</section>
						<section class="list-group-item-section">
							{% if silabus.pustaka %}
							<strong class="text-info h3 sheet-heading">Kepustakaan <a href="{{ currPath }}/pustaka" class="btn btn-warning pull-right">Edit</a></strong>
							<ol class="list-group-item-text">
								{% for item in silabus.pustaka %}
								<li>
									<p><strong>{{ item.PENGARANG_PUSTAKA }},</strong> <span class="text-italic">{{ item.JUDUL_PUSTAKA }}</span>, {{ item.PENERBIT_PUSTAKA }}, {{ item.TAHUN_TERBIT_PUSTAKA }}.</p>
								</li>
								{% endfor %}
							</ol>
							{% else %}
							<div class="well">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										<a href="{{currPath}}/pustaka" class="btn btn-block btn-lg btn-success"><i class="fa fa-plus"></i> Tambah Kepustakaan</a>
									</div>
								</div>
							</div>
							{% endif %}
						</section>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% include 'components/sidebar/_silabus-helper.twig' with {'state': 'collapsed'}  %}
{% endblock %}

{% block inlinejs %}
<script>triggerLayoutMini()</script>
{% endblock %}
